<%- include('partials/header'); -%>

<h2 class="text-center"><%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %></h2>

<div class="container">
    <li>Name:</li>
    <li>Email:</li>
    <li>Phone number:</li>
</div>